.Movie {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.MovieInfo {
  display: flex;
  align-items: center; 
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.MovieInfo > img {
  width: 30%;
}

.MovieInfo > div {
  padding: 10px;
}

@media screen and (max-width: 992px) {
  .MovieInfo {
    flex-direction: column;
  }

  .MovieInfo > img {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .MovieInfo > img {
    width: 100%;
  }
}