.MovieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.MovieCover {
  flex: 20%;
  max-width: 24%;
  padding: 2px;
}

.MovieCover > a {
  text-decoration: none;
  color: #ededed;
}

.MovieImage {
  position: relative;
}

.MovieImage > img {
  width: 100%;
}

.MovieOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity:0;
  transition: .5s ease;
}

.MovieOverlay:hover {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .MovieCover {
    flex: 48%;
    max-width: 48%;
  }
}

@media screen and (max-width: 600px) {
  .MovieList {
    flex-direction: column;
  }

  .MovieCover {
    max-width: 100%;
  }
}